version: '3'
services:
  db:
    image: kartoza/postgis:12.1
    volumes:
      - ./config/data-volume:/var/lib/postgresql
    restart: always
    environment:
      # If you need to create multiple database you can add coma separated databases eg gis,data
      - POSTGRES_DB=dev
      - POSTGRES_HOST=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASS=postgres
      - ALLOW_IP_RANGE=0.0.0.0/0
      # Add extensions you need to be enabled by default in the DB. Default are the three specified below
      - POSTGRES_MULTIPLE_EXTENSIONS=postgis,hstore,postgis_topology
    ports:
      - "25433:5432"
  api:
    build:
      context: ./api
      dockerfile: Dockerfile.dev
    restart: always
    volumes: 
      - ./api:/home/rstudio/api
    depends_on:
      - db
    links:
      - db
    environment:
      DISABLE_AUTH: 'true'
      PGHOST: 'db'
      POSTGRES_HOST: 'db'
      PGDATABASE: 'dev'
      POSTGRES_DB: 'dev'
      PGUSER: 'postgres'
      POSTGRES_USER: 'postgres'
      PGPASSWORD: 'postgres'
      POSTGRES_PASS: 'postgres'
  app:
    image: rocker/tidyverse:latest
    restart: always
    volumes: 
      - .:/home/rstudio
    expose:
      - 8787
    depends_on:
      - db
    links:
      - db
      - api
    environment:
      PASSWORD: 'dev'
      PGHOST: 'db'
      PGPASSWORD: 'postgres' 
  nginx:
    restart: always
    build:
      context: ./config/nginx
      dockerfile: Dockerfile.dev
    ports:
      - '5500:80'
    depends_on:
      - app
      - api